.todo-item {
  display: grid;
  grid-template: 100% / 2.2rem 2.2rem 1fr 4.5rem;
  align-items: center;
  margin-top: 3px;
}

.todo-item-button {
  background-color: rgba(0, 0, 0, 0);
  color: #282828;
  border-radius: 0px;
  padding: 5px;
  margin: 5px;
  height: auto;
  width: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  border: 1px solid #686868;
  border-radius: 4px;
  height: 2rem;
}