<div class="rounded-box todo-item">
  <button (click)="toggleState()" class="toggle-state-button">
    <img *ngIf="todo.state === 'active'" src="/assets/cross.svg" class="bigger-svg" />
    <img *ngIf="todo.state === 'done'" src="/assets/check.svg" class="bigger-svg" />
  </button>

  <button (click)="toggleImportance()" class="toggle-importance-button">
    <img *ngIf="todo.important" src="/assets/cross.svg" class="bigger-svg" />
    <img *ngIf="!todo.important" src="/assets/check.svg" class="bigger-svg" />
  </button>
  
  <h2>{{ title }}</h2>
  <button (click)="remove()" class="remove-todo-button">
    <img src="/assets/bin.svg" class="bigger-svg" />
  </button>
</div>