.todo-item {
  display: grid;
  grid-template: 100% / 2.2rem 1fr 2.2rem 4.5rem;
  align-items: center;
}

.todo-item-button {
  background-color: rgba(0, 0, 0, 0);
  color: #282828;
  border-radius: 0px;
  padding: 5px;
  margin: 5px;
  height: auto;
  width: 2rem;
}

