<div class="centered-box fade-in">
  <form class="flexbox-column rounded-box" (submit)="handleSubmit($event)">
    <h1>Register</h1>
    <p>Please fill the required fields below.</p>

    <input (input)="setEmail($event.target.value)" placeholder="E-mail" class="email-input"/>
    <input (input)="setPassword($event.target.value)" placeholder="Password" type="password" class="password-input"/>
    <input (input)="setRepeatedPassword($event.target.value)" placeholder="Repeat password" type="password" class="repeat-password-input"/>

    <div class="flexbox-row-space-between">
      <button (click)="cancel()" class="cancel-button" type="button">
        Cancel
      </button>

      <button (click)="register()" class="register-button" type="submit">
        Register
      </button>
    </div>
    
  </form>
</div>